.TranslationContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2em;
    margin-top: 2em;
    border: 1px solid grey;
}

.TranslationImage img {
    max-width: 100%;
}
